html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto;
	background-color: #394B1D;
}


.container {
	max-width: 600px;
	height: 590px;
	border: 6px solid #000;
	margin: 50px auto;
	border-radius: 6px;
	background-color: #BFE641;
	box-shadow: 16px 17px 8px #00000040;
}

h1 {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
	color: #BFE641;
	background-color: #000100;
	text-shadow: 1px 1px #00000014;
	border: 3px solid #000;
	border-radius: 16px;
	box-shadow: 5px 5px 9px #00000061;
	font-size: 1.7rem;
}

i {
	padding-right: 6px;
	color: blue;
}

#randomIntButton {
	font-size: 1.5rem;
	display: block;
	margin:  -20px auto 20px auto;
	outline: none;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px 0px 0px #6e73a596;
}

#randomIntButton:focus{ 
  background-color: #fff; 
}

.guessButtonGroup {
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 80%;
	flex-wrap: wrap;

}

.guessButton {
	padding: 10px;
	box-shadow: -1px 2px 3px #000000ad;
	outline: none;
/*	width: 20px;
*/	background-color: #fff;
	flex: 1;
	flex-basis: 33%;
	margin: 3px;
}

.guessButton:focus{ 
  background-color: #fff; 
}


p {
	text-align: center;
	font-size: 1.2rem;
}

#correct {
	font-weight: bold;
	font-style: italic;
}



.greenButton {
	background-color: lightgreen;
	padding: 10px;
}

.redButton {
	background-color: red;
	padding: 10px;
}



svg {
	width: 40%;
}

.waveformSelector {
/*	border:1px solid;
*/	max-width: 100px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

/*.waveform {
	border:1px solid;
}
*/
.waveform:hover {
	cursor: pointer;
	width: 105%;
}

.waveform:active {
	width: 150%;
}

/*.waveform:nth-of-type(even) {
	background-color: red;
}

.waveform:nth-of-type(odd) {
	background-color: orange;
}*/

input[type="range"]{
	width: 70%;
	display: block;
	margin: 20px auto;
}

.score {
	background-color: white;
	width: 80px;
	margin-left: 80px;
}

#good {
	color: red;
	float: left;
	text-indent: 10px;
}

#points {
	float:left;
	color: red;
	font-weight: bold;
}



img {
	width: 70%;
	/*padding: 20px;*/
/*	flex-basis: 2px;
*/}












